body {
    background-color: rgb(58, 118, 173);
    width: 100;
    height: 100;
  }
  
  .App {
    font-family: Arial, sans-serif;
  }
  
  #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  .firstArea2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 20px;
    background-color: white;
    width: 565px;
    height: 70px;
    border-radius: 30px;
    border: 1px solid rgb(0, 0, 0);
    margin-left: 0px;
    padding-left: 8px;
  }
  
  .text {
    margin: 8px;
    width: 500px;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
    border: 1px solid rgb(201, 201, 201);
  }
  
  .text:focus{
    outline: none;
    box-shadow: none;     /* Fokus durumunda gölgeyi kaldırın */
  }
  
  .text:hover{
    border-color: #ffffff;
    cursor: pointer;
  }
  
  .copy{
    width: 40px;
    height: 55px;
    font-size: 25px;
    text-align: center;
    background-color:#ffffff;
    opacity:0.6;
    filter:alpha(opacity=100);
  }
  
  .copy:focus{
    outline: none;
    box-shadow: none;     /* Fokus durumunda gölgeyi kaldırın */
  }
  
  .copy:hover{
    border-color: #ffffff;
    cursor: pointer;
  }
  
  .rotate{
    font-size: 20px;
    text-align: center;
    justify-content: center;
    margin: 20px;
    background-color: rgb(255, 255, 255);
    width: 120px;
    height: 70px;
    border-radius: 30px;
    border: 1px solid rgb(0, 0, 0);
    margin-right: 5px;
    padding-left: 18px;
  }
  
  .rotate:focus{
    outline: none;
    box-shadow: none;     /* Fokus durumunda gölgeyi kaldırın */
  }
  
  .rotate:hover{
    border-color: #ffffff;
    cursor: pointer;
  }
  
  .secondArea{
    margin: 20px;
    margin-bottom: 0px;
    font-size: 10px;
    width: 700px;
    height: 300px;
    justify-content: left;
    text-align: left;
    border-radius: 30px;
    border: 1px solid rgb(0, 0, 0);
    background-color:#ffffff;
  }
  
  h1 {
    font-size: 30px;
    padding-left: 20px;
  }
  
  h2 {
    font-size: 20px;
    margin-left: 20px;
  }
  
  input[type="number"] {
    width: 40px; /* Genişlik */
    padding: 10px; /* İç boşluklar */
    margin-left: 20px;
    height: 20px;
    font-size: 15px; /* Yazı boyutu */
    border: 1px solid #ccc; /* Kenarlık */
    border-radius: 4px; /* Köşe yuvarlama */
    text-align: center; /* Metin hizalaması */
  }
  
  .firstArea2 {
    display: flex;
    align-items: center;
    gap: 10px; /* Butonlar arasında boşluk */
    margin-bottom: 20px; /* Alanlar arasında boşluk */
    color: rgb(201, 46, 71);
  }
  
  .combo {
    display: flex;
    align-items: center;
    gap: 20px; /* Slider ve input arasında boşluk */
  }
  
  .checkbox {
    font-size: 22px;
    display: flex;
    padding-left: 130px;
    font-weight: bold;
    margin: 3px;
  }
  
  .oneByOne {
    display: flex;
    flex-direction: row;
    margin: 3px;
    padding: 1px;
  }
  
  .forFirstArea {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
  }
  